{
  "brace-style": 2,
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 140,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "avoid",
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "proseWrap": "always",
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "vueIndentScriptAndStyle": true,
  "indent": 2,
  "array-bracket-newline": "consistent",
  "multiline-ternary": "always-multiline",
  "multiline-attributes": "always"
}
