{
  "brace-style": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 140,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "proseWrap": "always",
  "vueIndentScriptAndStyle": true,
  "indent": 2,
  "array-bracket-newline": "consistent",
  "semi": true,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false
}
